body {
  font-family: 'Source Sans Pro', sans-serif;
}

.Topbar {
  background-color: #C0C0C0;
  padding: 24px 48px 12px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.Topbar > img {
width: 100px;
}

.Maincontainer{
  padding: 4% 12%;
  margin-top: 32px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.ProductPreview{
  width: 50%;
  position: relative;
}

.ProductData{
  width: 50%;
}

.ProductTitle{
 font-size: 48px;
 font-weight: 600;
 margin-top: 0;
 margin-bottom: 16px;
}

.ProductDescription{
  font-size: 20px;
  color: rgba(0,0,0,0.8);
  margin-top: 0;
  margin-bottom: 16px;
}
.ProductImage{
  width: 100%;
  max-width: 80px;
  
  border-radius: 8px;
  margin-right: 12px;
  cursor: pointer;
}

.SelectedProductImage{
  border: 2px solid rgba(2, 102, 102, 0.301);
}

.Sectionheading{
  font-size: 28px;
  margin-bottom: 8px;
}
.FeatureItem{
  background-color: gainsboro;
  border-radius: 8px;
  border: 0;
  padding: 12px 24px;
  min-width: 80px;
  text-align: center;
  margin-right: 12px;
  cursor: pointer;
  font-weight: 600;
  box-sizing: content-box;
}

.SelectedFeatureItem{
  color: white;
  background-color: gray;
}

.PrimaryButton{
  color: white;
  background-color: teal;
  font-size: 20px;
  border-radius: 8px;
  border: 0;
  padding: 12px  24px;
  margin-top: 25px;
}